[workspace]
members = [
    "crates/*"
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.80"
base64 = "0.22.0"
clap = { version = "4.5.4", features = ["derive"] }
essential-hash = { git = "ssh://git@github.com/essential-contributions/essential-base.git" }
essential-server = { git = "ssh://git@github.com/essential-contributions/essential-server.git" }
essential-sign = { git = "ssh://git@github.com/essential-contributions/essential-base.git" }
essential-types = { git = "ssh://git@github.com/essential-contributions/essential-base.git" }
reqwest = "0.12.4"
secp256k1 = { version = "0.29", features = ["rand-std", "recovery"] }
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1"
tokio = { version = "1.36.0", features = ["full"] }
